<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ChartMapper">


	<select id="OneWeekChart" resultType="com.project.model.Chart" parameterType="String">
		SELECT DATE_FORMAT(DATE(o.o_date), '%m-%d') AS date, count(*) AS
		count , p.p_nickname_m_fk AS nickname FROM ord AS o LEFT OUTER JOIN product AS p
		ON
		o.o_product_p_fk=p.p_id where p_nickname_m_fk=#{p_nickname_m_fk}
		AND p_chk='endprice' AND DATE(o_date) >= DATE_ADD(NOW(), INTERVAL ${Day}) GROUP BY
		DATE_FORMAT(DATE(o.o_date), '%m-%d') ORDER BY date ASC;

	</select>

	<select id="OneWeekSellPrice" resultType="com.project.model.Chart" parameterType="String">
		SELECT DATE_FORMAT(DATE(o.o_date), '%m-%d') AS date,
		count(o.o_product_p_fk) AS count, sum(p.p_endprice) AS endprice , p_nickname_m_fk AS nickname FROM ord AS o LEFT OUTER JOIN product AS p
		ON
		o.o_product_p_fk=p.p_id where p.p_id=o.o_product_p_fk AND p_chk='endprice' AND DATE(o.o_date) >= DATE_ADD(NOW(), INTERVAL ${Day}) AND
		p_nickname_m_fk=#{p_nickname_m_fk} GROUP BY p.p_nickname_m_fk,date ORDER BY date ASC;
	</select>

	<select id="OneMonthCategorySell" resultType="com.project.model.Chart" parameterType="String">
		SELECT count(p_category)AS count, p.p_category AS category FROM ord AS o LEFT OUTER JOIN product AS p
		ON o.o_product_p_fk=p.p_id where
		p.p_id=o.o_product_p_fk AND p_chk='endprice' AND DATE(o.o_date) >= DATE_ADD(NOW(), INTERVAL ${Day}) AND p_nickname_m_fk=#{p_nickname_m_fk} GROUP
		BY p.p_category order by count asc;
	</select>

	<select id="OneMonthFailedProduct" resultType="com.project.model.Chart" parameterType="String">
		SELECT count(p_chk)AS count,p_chk AS category FROM product where DATE_ADD(NOW(), INTERVAL ${Day}) AND p_nickname_m_fk=#{p_nickname_m_fk} AND p_chk='failed' OR
		p_chk='endprice' GROUP BY p_chk order by count asc;
	</select>

</mapper>