<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.PurchaseMapper">
	<resultMap type="com.project.model.PurchaseModel" id = "PurchaseMap">
		<id property="o_id" column="o_id"/>
		<result property="o_product_p_fk" column="o_product_p_fk"/>
		<result property="o_member_m_fk" column="o_member_m_fk"/>
		<result property="o_date" column="o_date"/>
		<result property="o_quantity" column="o_quantity"/>
		<result property="o_state" column="o_state"/>
	</resultMap>
	
	<insert id="AddOrder" parameterType="com.project.model.PurchaseModel" useGeneratedKeys="true" keyProperty="o_id">
		INSERT INTO question(
			o_product_p_fk, o_member_m_fk, 
			o_recipient, o_phoneNumber,
			o_address, o_date, o_quantity, o_state
		)
		VALUES(
			#{o_product_p_fk},
			#{o_member_m_fk},
			#{o_recipient},
			#{o_phoneNumber},	
			#{o_address},		
			#{o_date},
			#{o_quantity},
			#{o_state}
		)
	</insert>
	
</mapper>