
#mainbox {
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}



#container {
	font-family: 'Pretendard-Regular';
	height: 2100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#cart_main_con {
	width: 100%;
	height: 1800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cart_form {
	width: 100%;
	height: 1800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cart_main_box {
	width: 90%;
	height: 1600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 700px;
}

.cart_tag_box {
	width: 100%;
	height: 1600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-width: 600px;
}
