#container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

#chart_main_con {
	width: 100%;
	padding-top: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.chart_box{
	flex-direction:column;
	width:1200px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin:50px;
}
.chart_line{
	width:1100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.chart_text_box{
	width:1100px;
	display:flex;
	align-items: center;
	justify-content: space-around;
}
.chart_text{
	width:200px;
	height: 100px;
	border:1px solid #e2e2e2;
	display:flex;
	align-items: center;
	justify-content: center;
}
.type{
	margin:25px;
	width:500px;
	display:flex;
	height: 300px;
	border:1px solid #e2e2e2;
	align-items: center;
	justify-content:center;
}
.type_circle{
	flex-direction: column;
}