<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<link th:href="@{/css/qnaboard.css}" rel="stylesheet" />
<link th:href="@{/css/reset2.css}" rel="stylesheet" />
<link th:href="@{/css/reset.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>

</head>
<body>
	<div id="container">
		<header th:replace="header :: header"> </header>
		<br>
		<div id="questionRead_area">
			<form enctype="multipart/form-data" method="get">
				<div id="qna_title">
					<span th:text="|제목:${questionMap['qnaModel'].getQ_title}|"></span>
				</div>
				
				<br>
				
				<div class="wi_line"></div>
				<div id="qna_content">
					<span th:text="|내용:${questionMap['qnaModel'].getQ_content}|"></span>
				</div>

			</form>
		</div>

		<footer th:replace="footer ::footer"></footer>
	</div>
</body>
</html>