<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<link th:href="@{/css/mypage.css}" rel="stylesheet" />
<link th:href="@{/css/reset2.css}" rel="stylesheet" />
<link th:href="@{/css/reset.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
<script type="text/javascript" th:src="@{/js/mypage.js}"></script>
</head>

<body>
	<header th:replace="header :: header"> </header>
	<br><br><br><br><br>
	
	<form enctype="multipart/form-data" method="get">
			<div id="qna_title" class="qna_show">
				<span th:text="|상품 id|"></span>
				<span th:text="|작성날짜|"></span>
				<span th:text="|제목|"></span>
				<span th:text="|내용|"></span>
			</div>
	</form>
</body>

</html>