#container{
    width:100%;
    height:1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#index_main{
    width:120%;
    height: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;   
    
   
}

.main_buytag{
	width:50%;
    height:1250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;	
}

.main_text{
    display: flex;
    justify-content: Georgia, serif;
    align-items: center;
    font-family:'Georgia, serif';
    font-weight: bold;
    font-size: 24px;
    width:100%;
    height: 100px;    

}
.main_contentbox{
	font-family: Georgia, serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    max-width:1200px;
    min-width:600px;
    font-size:14px;
        
}

.main_imgbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 150px;
    height: 250px;
    border:1px solid #e2e2e2;
    
}

.main_imgbox .img_url{
    width:100%;
    height: 150px;
}
.main_imgbox a img{
    width:100%;
    height: 150px;
}


.name_url{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    
    
}
.main_imgbox span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:50px;    
    
}
