<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<link th:href="@{/css/index.css}" rel="stylesheet" />
<link th:href="@{/css/reset2.css}" rel="stylesheet" />
<link th:href="@{/css/reset.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>

 <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  
  <script>
    $(document).ready(function(){
      $('.bxslider').bxSlider({
    	  mode: 'horizontal',// 가로 방향 수평 슬라이드
    	  speed: 500,        // 이동 속도를 설정
    	  auto: true,        // 자동 실행 여부
    	  slideWidth: 1500,   // 슬라이드 너비
    	  autoHover: true   // 마우스 호버시 정지 여부
    	  
      });
    });
    
  </script>
</head>


<body>
	<div id="container">
		<header th:replace="header :: header"> </header>

		<main id="index_main">
			
			<div class="main_buytag">
			
				<div class="slide_box"> 
     			    <ul class="bxslider">
						<li><img src="/projectimg/배너1.jpg" /></li>
						<li><img src="/projectimg/배너2.jpg" /></li>
						<li><img src="/projectimg/배너3.jpg" /></li>
					</ul>
   				</div>
			
				<div class="main_text">
					<h3>인기상품</h3>
				</div>

				<div class="main_contentbox">
				
					<div class="main_imgbox" th:each="best : ${bestlist}" th:if="${bestlist!=null}">
						<a th:href="@{/prodetail.do(p_id=${best.p_id})}" class="img_url"><img th:src="@{/stsimg/}+${best.p_img}"></a>
						<a th:href="@{/prodetail.do(p_id=${best.p_id})}" class="name_url" th:text="|제품명:${best.p_name}|">OUTTER1</a> <span th:text="|가격:${best.p_price}원|">가격 : PRICE</span>
					</div>


				</div>

				<div class="main_text">
					<h3>신상품</h3>
				</div>

				<div class="main_contentbox">


					<div class="main_imgbox" th:each="new : ${newlist}" th:if="${newlist!=null}">
						<a th:href="@{/prodetail.do(p_id=${new.p_id})}" class="img_url"><img th:src="@{/stsimg/}+${new.p_img}"></a>
						<a th:href="@{/prodetail.do(p_id=${new.p_id})}" class="name_url" th:text="|품명:${new.p_name}|">OUTTER1</a> <span th:text="|가격:${new.p_price}원|">가격 : PRICE</span>
					</div>


				</div>
			</div>
		</main>

		<footer th:replace="footer ::footer"></footer>

	</div>
</body>

</html>