<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/index.css">
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<link th:href="@{/css/login.css}" rel="stylesheet" />
<link th:href="@{/css/reset2.css}" rel="stylesheet" />
<link th:href="@{/css/reset.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>

</head>


<body>
	<div id="container">
		<header th:replace="header :: header"> </header>

		<main id="index_main">
			<div class="main_buytag">
			
				<div class="slider_img">
				
				</div>
			
				<div class="main_text">
					<h3>인기상품</h3>
				</div>

				<div class="main_contentbox">
				
					<div class="main_imgbox" th:each="best : ${bestlist}" th:if="${bestlist!=null}">
						<a th:href="@{/prodetail.do(p_id=${best.p_id})}" class="img_url"><img th:src="@{/stsimg/}+${best.p_img}"></a>
						<a th:href="@{/prodetail.do(p_id=${best.p_id})}" class="name_url" th:text="|제품명:${best.p_name}|">OUTTER1</a> <span th:text="|가격:${best.p_price}원|">가격 : PRICE</span>
					</div>


				</div>

				<div class="main_text">
					<h3>신상품</h3>
				</div>

				<div class="main_contentbox">


					<div class="main_imgbox" th:each="new : ${newlist}" th:if="${newlist!=null}">
						<a th:href="@{/prodetail.do(p_id=${new.p_id})}" class="img_url"><img th:src="@{/stsimg/}+${new.p_img}"></a>
						<a th:href="@{/prodetail.do(p_id=${new.p_id})}" class="name_url" th:text="|품명:${new.p_name}|">OUTTER1</a> <span th:text="|가격:${new.p_price}원|">가격 : PRICE</span>
					</div>


				</div>
			</div>
		</main>

		<footer th:replace="footer ::footer"></footer>

	</div>
</body>

</html>