<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ProductMapper">
	
	
	<resultMap type="com.project.model.Product" id="ProductMap">
		<id property="p_id" column="p_id" /> <!-- id에는 프라이머리키 -->
		<result property="p_name" column="p_name" />
		<result property="p_price" column="p_price" />
		<result property="p_category" column="p_category" />
		<result property="p_due_date" column="p_due_date" />
		<result property="p_recruit_date" column="p_recruit_date" />
		<result property="p_create_date" column="p_create_date" />
		<result property="p_writer" column="p_writer" />
		<result property="p_chk" column="p_chk" />	
		<result property="p_sell" column="p_sell" />
	</resultMap>
	
	<!-- 인기상품 불러오기 -->
	<select id="Productbest" resultMap="ProductMap">
		SELECT
		*
		FROM product
		ORDER BY
		p_sell DESC LIMIT 0,5
	</select>
	<!-- 신상품 불러오기 -->
	<select id="Productnew" resultMap="ProductMap">
		SELECT
		*
		FROM product
		ORDER BY
		p_recruit_date DESC LIMIT 0,5
	</select>
	
	<!-- 정렬 -->
	<!-- <select id="Pro_lineUp" parameterType="com.project.model.SearchDto" resultType="com.project.model.Product">
        SELECT * FROM product inner join img on product.p_id=img.img_pid
        order by #{key1} #{key2}
        LIMIT #{pagination.limitStart},#{recordSize}
    </select>
	 -->
	<!-- 전체 게시글 불러오기 -->
	<select id="PagingList" parameterType="com.project.model.SearchDto" resultType="com.project.model.Product">
        SELECT * FROM product inner join img on product.p_id=img.img_pid
        LIMIT #{pagination.limitStart},#{recordSize}
    </select>
    
    <!-- 게시글 수 카운팅 -->
    <select id="count"  resultType="int">
        SELECT
            COUNT(*)
        FROM
            product
    </select>
    
    <!-- 카테고리로 불러오기 -->
    <select id="Category" parameterType="hashMap" resultMap="ProductMap">
		SELECT * FROM product WHERE p_category=#{p_category} 
		inner join img on product.p_id=img.img_pid
		LIMIT #{limitStart},#{recordSize}
	</select>
	
	<!-- 카테고리별 게시글 카운팅 -->
	<select id="category_count" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM product WHERE p_category=#{p_category}
	</select>
    
    
</mapper>