<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ReviewMapper">
	
	<resultMap type="com.project.model.Review" id="ReviewMap">
		<id property="r_id" column="r_id"/>
		<result property="r_nickname_m_fk" column="r_nickname_m_fk"/>
		<result property="r_content" column="r_content"/>
		<result property="r_date" column="r_date"/>
		<result property="r_datetxt" column="r_datetxt"/>
		<result property="r_rating" column="r_rating"/>
		<result property="r_pid_p_fk" column="r_pid_p_fk"/>
	</resultMap>
	
	<insert id="AddReview" parameterType="com.project.model.Review" >
		INSERT INTO Review(r_nickname_m_fk,r_content,r_date,r_rating,r_pid_p_fk)
		VALUES(
		#{r_nickname_m_fk}
		,#{r_content}
		,now()
		,#{r_rating}
		,#{r_pid_p_fk})
	</insert>
	
	<delete id="RemoveReview" parameterType="int">
		DELETE FROM review where r_id = #{r_id}
	</delete>
	
	<select id="ReviewList" parameterType="hashMap" resultMap="ReviewMap">
		select r_id,r_nickname_m_fk,date_format(r_date, '%Y-%m-%d %H:%i:%s') AS r_datetxt,r_rating,r_pid_p_fk,r_content
		from review
		where r_pid_p_fk=#{r_pid_p_fk}
		order by r_id desc
		LIMIT #{limitStart},#{recordSize}
	</select>
	
	
	<!-- 리뷰 카운트 -->
	<select id="Review_count" parameterType="int" resultType="int">
		SELECT
		IFNULL(COUNT(*),0) FROM review WHERE r_pid_p_fk=#{r_pid_p_fk}
	</select>
	
	<select id="findnick" parameterType="String" resultType="String">
		select m_nickname from member where m_email=#{m_email}
	</select>
	
	<select id="ReviewStar" parameterType="int" resultType="double">
		SELECT IFNULL(SUM(r_rating),0)
  		FROM review WHERE r_pid_p_fk = #{r_pid_p_fk};
	</select>
	
</mapper>